{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<f:render section="itemList" arguments="{items: items, site: site, languageMenu: languageMenu, mainSiteTitle: mainSiteTitle, mainSiteLink: mainSiteLink, languageMenuMobile: languageMenuMobile}" />

<f:section name="itemList">
    <!-- Hauptmenü -->
	<div id='mainMenu'>
		<div id='menuBackground'>
		</div>
		<div class="container">
			<ul id='mainMenuList' class="mainMenu noList">
				<li class="dropdownMain relative">
					<a href="{mainSiteLink}">{mainSiteTitle}</a>
				</li>
				<f:for each="{items}" as="item">
					<f:if condition='{item.node.nodeType.name} == "H1.EasiJoist:Page"'>
						<li class="dropdownMain relative">
							<neos:link.node class="mainMenuItem {f:if(condition: item.subItems, then: 'bigPadding', else: '')}" node="{item.node}" target="{f:if(condition: item.node.properties.newWindow, then: '_blank', else: '_top')}">{item.label}</neos:link.node>
							<f:if condition="{item.subItems}">
								<div class='dropDownContainer'>
									<div class='dropDownContainer2'>
										<ul class='dropDownMenu noList'>
											<f:for each="{item.subItems}" as="mainSubItem">
												<li>
													<neos:link.node node="{mainSubItem.node}" class='dropDownItem'>
														<h4>{mainSubItem.label}</h4>
													</neos:link.node>
												</li>
											</f:for>
										</ul>
									</div>
								</div>
								<img class="arrowBigMenu" src="{f:uri.resource(path: 'Images/arrowDown.svg', package: 'H1.EasiJoist')}" alt="Pfeil Icon"/>
							</f:if>
						</li>
					</f:if>
				</f:for>
				<li class="dropdownMain relative">
					{languageMenu -> f:format.raw()}
				</li>			
			</ul>
		</div>
	</div>
	<!-- Mobile Navigation -->
	<div id='mobileNavigation' class="navbar container hidden">
		<div>
			<!-- Sonstiges -->
			<ul class='mobileMenu'>
				<li class="listItem">
					<div class="nav listItemContent">
						<div class="menuItem">
							<a href="{mainSiteLink}">{mainSiteTitle}</a>
						</div>
					</div>
				</li>
				<f:for each="{items}" as="item" iteration="mobileMenuItemIterator">
					<li class="{item.state} listItem" id='{item.label} {item.node.nodeType.name}'>
						<div class="nav listItemContent">
							<div class="menuItem">
								<neos:link.node node="{item.node}" section='{item.node.properties.anchor}' class="{f:if(condition: item.node.properties.highlight, then: 'menuMobileHighlight', else: '')}">{item.label}
								</neos:link.node>
							</div>
							<f:if condition="{item.subItems}">
								<input type="checkbox" class="styled-checkbox"/>
								<img class="arrow" src="{f:uri.resource(path: 'Images/arrowDown.svg', package: 'H1.EasiJoist')}" alt="Pfeil Icon"/>
								<ul class="menuListSecond">
									<f:for each="{item.subItems}" as="mobileSubMenu">
										<li class="{mobileSubMenu.state} listItem">
											<div class="listItemContent">
												<div class='menuItem menuItemSecond'>
												<neos:link.node node="{mobileSubMenu.node}" section='{mobileSubMenu.node.properties.anchor}' class="fontRegular">{mobileSubMenu.label}</neos:link.node>
											</div>
										</li>
									</f:for>
								</ul>
							</f:if>
						</div>
					</li>
				</f:for>
				{languageMenuMobile -> f:format.raw()}
			</ul>
		 </div>
	</div>
</f:section>